<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<!--系统文件，不可删除-->
		<script src="../../../js/include-plugin.js" type="text/javascript" charset="utf-8"></script>
		<!--自定义文件-->
		<script src="index.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="index.css"/>
	</head>
	<body>
		<div class="mui-content" id="content">
		</div>
	</body>
</html>