.DS_Store
*.log
logs/

.classpath
.project
*.iml

bin/
.settings/
.idea/

src/main/webapp/JE/data/cache/
target/
src/main/webapp/JE/data/config/license.properties
src/main/webapp/JE/data/cache/config-local.properties

config-local.properties
!/config-local.properties

src/main/webapp/JE/data/upgrade/
src/main/webapp/JE/data/upload/

